<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <title>Velcro Aim</title>
  </head>
  <body>
    <div class="title">
      <b>Пикадо</b>
    </div>
    <div class="levo">
      <label><b>Корисничко име: </b></label>
    </div>
    <div class="desno">
      <input type="text" placeholder="Внесете го корисничкото име од карчичката" name="uname" required size="50">
    </div>
      <br>
    <div class="levo">
      <label><b>Лозинка: </b></label>
    </div>
    <div class="desno">
      <input type="password" placeholder="Внесете ја лозинката од картичката" name="psw" required size="50">
    </div>
      <br>
      <div class="button">
        <button type="submit">Внес</button>
      </div>
    </div>
  </body>
